<div class="line-bot row" data-ng-hide="!tx">
  <div class="col-xs-7 col-md-8">
    <div class="ellipsis">
      <!-- PRIVACY: removed <a href="tx/..."> link, txid is now plain text only -->
      <span class="text-muted">{{tx.txid}}</span>
      <span class="btn-copy" clip-copy="tx.txid"></span>
    </div>
  </div>
  <div class="col-xs-5 col-md-4 text-right text-muted">
    <div data-ng-show="tx.firstSeenTs">
      <span translate>first seen at</span> 
      <time>{{tx.firstSeenTs * 1000 | date:'medium'}}</time>
    </div>
    <div data-ng-show="tx.blocktime && !tx.firstSeenTs">
      <span translate>mined</span> 
      <time>{{tx.time * 1000 | date:'medium'}}</time>
    </div>
  </div>
</div>
<div class="row line-mid">
  <div class="col-md-5">
    <div class="row" data-ng-if="tx.isCoinBase">
      <div class="col-md-12 transaction-vin-vout" data-ng-repeat="vin in tx.vin">
        <div class="ellipsis">
          <span translate>No Inputs (Newly Generated Coins)</span>
        </div>
      </div>
    </div>
    <div class="row" data-ng-if="!tx.isCoinBase">

      <!-- Simple view (privacy-safe, no expanded mode) -->
      <div data-ng-init="currentInNoExpanded=0; sizeInNoExpanded=5">
        <div class="panel panel-default" data-ng-repeat="vin in tx.vinSimple| startFrom:currentInNoExpanded*sizeInNoExpanded | limitTo:sizeInNoExpanded">
          <div class="panel-body transaction-vin-vout">
            <!-- PRIVACY: show Hidden for Lelantus/Spark inputs, value only for transparent -->
            <div data-ng-show="!vin.addr.startsWith('Lelantusj') && !vin.addr.startsWith('Sparks')" class="pull-right ZCOIN-value">
              {{$root.currency.getConvertion(vin.value) || vin.value + ' FIRO'}}
            </div>
            <div data-ng-show="vin.addr.startsWith('Lelantusj') || vin.addr.startsWith('Sparks')" class="pull-right ZCOIN-value">
              Hidden
            </div>
            <div class="ellipsis">
              <!-- PRIVACY: all addresses rendered as plain text, no <a href="address/..."> links -->
              <span class="text-muted">{{vin.addr}}</span>
            </div>
            <div data-ng-show="vin.unconfirmedInput" class="text-danger">
              <span class="glyphicon glyphicon-warning-sign"></span> (Input unconfirmed)
            </div>
            <div data-ng-show="vin.dbError" class="text-danger">
              <span class="glyphicon glyphicon-warning-sign"></span>
              <span translate>Incoherence in levelDB detected:</span> {{vin.dbError}}
            </div>
            <!-- PRIVACY: doubleSpentTxID shown as text only, no link -->
            <div data-ng-show="vin.doubleSpentTxID" class="text-danger">
              <span class="glyphicon glyphicon-warning-sign"></span>
              <span translate>Double spent attempt detected.</span>
            </div>
          </div>
        </div>
        <div class="showmore_collapse text-left" data-ng-show="tx.vinSimple.length > 5">
          <button type="button" class="btn btn-info btn-sm" ng-hide="sizeInNoExpanded != tx.vinSimple.length" ng-click="currentInNoExpanded=0; sizeInNoExpanded=5">
            <i class="glyphicon glyphicon-chevron-up"></i>
            <span translate>Show less</span>
          </button>
          <button type="button" class="btn btn-info btn-sm" ng-hide="currentInNoExpanded >= tx.vinSimple.length/sizeInNoExpanded - 1" ng-click="currentInNoExpanded=0; sizeInNoExpanded=tx.vinSimple.length">
            <i class="glyphicon glyphicon-chevron-down"></i>
            <span translate>Show more</span>
          </button>
        </div>
      </div>
      <!-- PRIVACY: Full expanded view removed entirely to prevent vin.txid outpoint navigation -->

    </div>
  </div>
  <div class="col-md-1 col-xs-12">
    <div class="hidden-xs hidden-sm text-center">
      <span class="lead glyphicon glyphicon-chevron-right text-muted"></span>
    </div>
    <div class="hidden-md hidden-lg text-center">
      <span class="lead glyphicon glyphicon-chevron-down text-muted"></span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <!-- Simple view (privacy-safe) -->
      <div data-ng-init="currentOutNoExpanded=0; sizeOutNoExpanded=5">
        <div data-ng-repeat="vout in tx.voutSimple| startFrom:currentOutNoExpanded*sizeOutNoExpanded | limitTo:sizeOutNoExpanded">
          <div class="transaction-vin-vout panel panel-default">
            <div class="panel-body">
              <!-- PRIVACY: hide value for mint outputs, show spent/unspent status text only (no spentTxId link) -->
              <div data-ng-show="vout.addr!='Lelantusjmint' && vout.addr!='Sparksmint' && vout.addr!='Sparkname'" class="pull-right ZCOIN-value">
                {{$root.currency.getConvertion(vout.value) || vout.value + ' FIRO' }}
                <span class="text-danger" data-ng-show="vout.isSpent">(S)</span>
                <span class="text-success" data-ng-show="!vout.isSpent">(U)</span>
              </div>
              <div data-ng-show="vout.addr=='Lelantusjmint' || vout.addr=='Sparksmint'" class="pull-right ZCOIN-value">
                Hidden
              </div>
              <div class="ellipsis">
                <!-- PRIVACY: output addresses shown as plain text only, no <a href="address/..."> links -->
                <span class="text-muted" data-ng-repeat="address in vout.addr.split(',')">{{address}} </span>
              </div>
            </div>
          </div>
        </div>
        <div class="showmore_collapse text-left" data-ng-show="tx.voutSimple.length > 5">
          <button type="button" class="btn btn-info btn-sm" ng-hide="sizeOutNoExpanded != tx.voutSimple.length" ng-click="currentOutNoExpanded=0; sizeOutNoExpanded=5">
            <i class="glyphicon glyphicon-chevron-up"></i>
            <span translate>Show less</span>
          </button>
          <button type="button" class="btn btn-info btn-sm" ng-hide="currentOutNoExpanded >= tx.voutSimple.length/sizeOutNoExpanded - 1" ng-click="currentOutNoExpanded=0; sizeOutNoExpanded=tx.voutSimple.length">
            <i class="glyphicon glyphicon-chevron-down"></i>
            <span translate>Show more</span>
          </button>
        </div>
      </div>
      <!-- PRIVACY: Full expanded view removed entirely (contained spentTxId links and address navigation) -->
    </div>
  </div>
</div>

<!-- PRIVACY: Block hash shown as text only, no link -->
<div class="well well-sm bgwhite ellipsis" data-ng-if="tx.blockhash">
  <strong style="margin-left: 1em" translate>Included in Block</strong>
  <span class="text-muted">{{tx.blockhash}}</span>
  <span class="btn-copy" clip-copy="tx.blockhash"></span>
</div>

<div class="line-top row" data-ng-hide="!tx">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <span data-ng-show="!tx.isCoinBase && !isNaN(parseFloat(tx.fees))"
      class="txvalues txvalues-default"><span translate>Fee</span>: {{$root.currency.getConvertion(tx.fees) || tx.fees + 'FIRO'}} </span>
  </div>
  <div class="col-xs-6 col-sm-8 col-md-8 text-right">
    <span data-ng-show="tx.confirmations" class="txvalues txvalues-success">{{tx.confirmations}} <span translate>Confirmations</span></span>
    <span data-ng-show="!tx.confirmations" class="txvalues txvalues-danger" translate>Unconfirmed Transaction!</span>
    <span class="txvalues txvalues-primary">{{$root.currency.getConvertion(tx.valueOut) || tx.valueOut + ' FIRO' }}</span>
  </div>
</div>
